In [52]:
# Importação das bibliotecas

import pandas as pd

# Transformação dos dados meteorológicos diários

In [53]:
# Importação do arquivo CSV dos dados meteorológicos diários

file = 'C:/Users/********/Documents/Projetos Jupyter Notebook/TCC - Ciência de Dados/Dados Meteorológicos Históricos - Vacaria/Por Dia/dados_A880_D_2009-05-01_2021-04-30.csv'
df = pd.read_csv(file, skiprows = 10, sep = ';')
df.head() # Exibição dos dados

,Data Medicao,"PRECIPITACAO TOTAL, DIARIO (AUT)(mm)",PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB),TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C),"TEMPERATURA MAXIMA, DIARIA (AUT)(°C)","TEMPERATURA MEDIA, DIARIA (AUT)(°C)","TEMPERATURA MINIMA, DIARIA (AUT)(°C)","UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)","UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)","VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)","VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)"
0,01/05/2009,0,"910,025","9,741667","20,9","13,8125","8,2","78,791667",46.0,9,"3,795833"
1,02/05/2009,0,"909,445833","9,404167","21,8","14,383333","8,6","75,5",39.0,"9,5","3,341667"
2,03/05/2009,"0,2","907,758333","8,095833","21,9","14,108333","8,3","72,041667",29.0,"9,2","3,558333"
3,04/05/2009,0,"905,7","11,320833",22,"15,258333","8,7","79,083333",52.0,"10,2","4,15"
4,05/05/2009,0,"905,2125","10,633333","22,8","15,679167","10,1","74,666667",39.0,"9,6","3,554167"

In [54]:
df.info() # Visualização do tipo de dados de cada coluna

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4383 entries, 0 to 4382
Data columns (total 11 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Data Medicao                                            4383 non-null   object
 1   PRECIPITACAO TOTAL, DIARIO (AUT)(mm)                    4128 non-null   object
 2   PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB)              4144 non-null   object
 3   TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C)  4138 non-null   object
 4   TEMPERATURA MAXIMA, DIARIA (AUT)(°C)                    4165 non-null   object
 5   TEMPERATURA MEDIA, DIARIA (AUT)(°C)                     4126 non-null   object
 6   TEMPERATURA MINIMA, DIARIA (AUT)(°C)                    4166 non-null   object
 7   UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)           4263 non-null   object
 8   UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)          4313 non-null   float64
 9   VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)                  4293 non-null   object
 10  VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)               4085 non-null   object
dtypes: float64(1), object(10)
memory usage: 205.5+ KB

In [55]:
# Substituição de vírgulas por pontos nos dados das colunas com tipo não-numérico

df['PRECIPITACAO TOTAL, DIARIO (AUT)(mm)'] = df['PRECIPITACAO TOTAL, DIARIO (AUT)(mm)'].str.replace(',', '.')
df['PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB)'] = df['PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB)'].str.replace(',', '.')
df['TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C)'] = df['TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C)'].str.replace(',', '.')
df['TEMPERATURA MAXIMA, DIARIA (AUT)(°C)'] = df['TEMPERATURA MAXIMA, DIARIA (AUT)(°C)'].str.replace(',', '.')
df['TEMPERATURA MEDIA, DIARIA (AUT)(°C)'] = df['TEMPERATURA MEDIA, DIARIA (AUT)(°C)'].str.replace(',', '.')
df['TEMPERATURA MINIMA, DIARIA (AUT)(°C)'] = df['TEMPERATURA MINIMA, DIARIA (AUT)(°C)'].str.replace(',', '.')
df['UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)'] = df['UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)'].str.replace(',', '.')
df['VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)'] = df['VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)'].str.replace(',', '.')
df['VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)'] = df['VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)'].str.replace(',', '.')

df.head() # Exibição dos dados

,Data Medicao,"PRECIPITACAO TOTAL, DIARIO (AUT)(mm)",PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB),TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C),"TEMPERATURA MAXIMA, DIARIA (AUT)(°C)","TEMPERATURA MEDIA, DIARIA (AUT)(°C)","TEMPERATURA MINIMA, DIARIA (AUT)(°C)","UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)","UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)","VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)","VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)"
0,01/05/2009,0,910.025,9.741667,20.9,13.8125,8.2,78.791667,46.0,9,3.795833
1,02/05/2009,0,909.445833,9.404167,21.8,14.383333,8.6,75.5,39.0,9.5,3.341667
2,03/05/2009,0.2,907.758333,8.095833,21.9,14.108333,8.3,72.041667,29.0,9.2,3.558333
3,04/05/2009,0,905.7,11.320833,22,15.258333,8.7,79.083333,52.0,10.2,4.15
4,05/05/2009,0,905.2125,10.633333,22.8,15.679167,10.1,74.666667,39.0,9.6,3.554167

In [56]:
# Alteração do tipo de dados das colunas

df['Data Medicao'] = pd.to_datetime(df['Data Medicao'], dayfirst = True)
df['PRECIPITACAO TOTAL, DIARIO (AUT)(mm)'] = pd.to_numeric(df['PRECIPITACAO TOTAL, DIARIO (AUT)(mm)'])
df['PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB)'] = pd.to_numeric(df['PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB)'])
df['TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C)'] = pd.to_numeric(df['TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C)'])
df['TEMPERATURA MAXIMA, DIARIA (AUT)(°C)'] = pd.to_numeric(df['TEMPERATURA MAXIMA, DIARIA (AUT)(°C)'])
df['TEMPERATURA MEDIA, DIARIA (AUT)(°C)'] = pd.to_numeric(df['TEMPERATURA MEDIA, DIARIA (AUT)(°C)'])
df['TEMPERATURA MINIMA, DIARIA (AUT)(°C)'] = pd.to_numeric(df['TEMPERATURA MINIMA, DIARIA (AUT)(°C)'])
df['UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)'] = pd.to_numeric(df['UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)'])
df['VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)'] = pd.to_numeric(df['VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)'])
df['VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)'] = pd.to_numeric(df['VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)'])

df.info() # Visualização do tipo de dados de cada coluna

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4383 entries, 0 to 4382
Data columns (total 11 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Data Medicao                                            4383 non-null   datetime64[ns]
 1   PRECIPITACAO TOTAL, DIARIO (AUT)(mm)                    4128 non-null   float64
 2   PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB)              4144 non-null   float64
 3   TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C)  4138 non-null   float64
 4   TEMPERATURA MAXIMA, DIARIA (AUT)(°C)                    4165 non-null   float64
 5   TEMPERATURA MEDIA, DIARIA (AUT)(°C)                     4126 non-null   float64
 6   TEMPERATURA MINIMA, DIARIA (AUT)(°C)                    4166 non-null   float64
 7   UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)           4263 non-null   float64
 8   UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)          4313 non-null   float64
 9   VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)                  4293 non-null   float64
 10  VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)               4085 non-null   float64
dtypes: datetime64[ns](1), float64(10)
memory usage: 376.7 KB

In [57]:
# Realização e visualização do ajuste das casas decimais dos dados

df['PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB)'] = round(df['PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB)'], 1)
df['TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C)'] = round(df['TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C)'], 1)
df['TEMPERATURA MEDIA, DIARIA (AUT)(°C)'] = round(df['TEMPERATURA MEDIA, DIARIA (AUT)(°C)'], 1)
df['UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)'] = round(df['UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)'], 1)
df['VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)'] = round(df['VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)'], 1)

df.head()

,Data Medicao,"PRECIPITACAO TOTAL, DIARIO (AUT)(mm)",PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB),TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C),"TEMPERATURA MAXIMA, DIARIA (AUT)(°C)","TEMPERATURA MEDIA, DIARIA (AUT)(°C)","TEMPERATURA MINIMA, DIARIA (AUT)(°C)","UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)","UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)","VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)","VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)"
0,2009-05-01,0.0,910.0,9.7,20.9,13.8,8.2,78.8,46.0,9.0,3.8
1,2009-05-02,0.0,909.4,9.4,21.8,14.4,8.6,75.5,39.0,9.5,3.3
2,2009-05-03,0.2,907.8,8.1,21.9,14.1,8.3,72.0,29.0,9.2,3.6
3,2009-05-04,0.0,905.7,11.3,22.0,15.3,8.7,79.1,52.0,10.2,4.2
4,2009-05-05,0.0,905.2,10.6,22.8,15.7,10.1,74.7,39.0,9.6,3.6

In [58]:
df.isnull().sum() # identificação de dados faltantes

Data Medicao                                                0
PRECIPITACAO TOTAL, DIARIO (AUT)(mm)                      255
PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB)                239
TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C)    245
TEMPERATURA MAXIMA, DIARIA (AUT)(°C)                      218
TEMPERATURA MEDIA, DIARIA (AUT)(°C)                       257
TEMPERATURA MINIMA, DIARIA (AUT)(°C)                      217
UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)             120
UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)             70
VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)                     90
VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)                 298
dtype: int64

In [59]:
# Geração e visualização da média dos valores das colunas para utilizar na substituição dos valores nulos

precipitacao_media = df['PRECIPITACAO TOTAL, DIARIO (AUT)(mm)'].mean()
pressao_atmosf_media = df['PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB)'].mean()
temp_orvalho_media = df['TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C)'].mean()
temp_maxima_media = df['TEMPERATURA MAXIMA, DIARIA (AUT)(°C)'].mean()
temp_media_media = df['TEMPERATURA MEDIA, DIARIA (AUT)(°C)'].mean()
temp_minima_media = df['TEMPERATURA MINIMA, DIARIA (AUT)(°C)'].mean()
umidade_media_media = df['UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)'].mean()
umidade_minima_media = df['UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)'].mean()
vento_maxima_media = df['VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)'].mean()
vento_media_media = df['VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)'].mean()

print('precipitacao_media: {}'.format(precipitacao_media))
print('pressao_atmosf_media: {}'.format(pressao_atmosf_media))
print('temp_orvalho_media: {}'.format(temp_orvalho_media))
print('temp_maxima_media: {}'.format(temp_maxima_media))
print('temp_media_media: {}'.format(temp_media_media))
print('temp_minima_media: {}'.format(temp_minima_media))
print('umidade_media_media: {}'.format(umidade_media_media))
print('umidade_minima_media: {}'.format(umidade_minima_media))
print('vento_maxima_media: {}'.format(vento_maxima_media))
print('vento_media_media: {}'.format(vento_media_media))

precipitacao_media: 5.2645348837209305
pressao_atmosf_media: 906.6268822393823
temp_orvalho_media: 11.895577573707104
temp_maxima_media: 21.87217286914766
temp_media_media: 15.477532719340767
temp_minima_media: 11.039222275564091
umidade_media_media: 81.3267182735163
umidade_minima_media: 52.68374681196383
vento_maxima_media: 10.519170743070115
vento_media_media: 3.293096695226438

In [60]:
# Realização e visualização do ajuste das casas decimais dos dados

precipitacao_media = round(precipitacao_media, 1)
pressao_atmosf_media = round(pressao_atmosf_media, 1)
temp_orvalho_media = round(temp_orvalho_media, 1)
temp_maxima_media = round(temp_maxima_media, 1)
temp_media_media = round(temp_media_media, 1)
temp_minima_media = round(temp_minima_media, 1)
umidade_media_media = round(umidade_media_media, 1)
umidade_minima_media = round(umidade_minima_media)
vento_maxima_media = round(vento_maxima_media, 1)
vento_media_media = round(vento_media_media, 1)

print('precipitacao_media: {}'.format(precipitacao_media))
print('pressao_atmosf_media: {}'.format(pressao_atmosf_media))
print('temp_orvalho_media: {}'.format(temp_orvalho_media))
print('temp_maxima_media: {}'.format(temp_maxima_media))
print('temp_media_media: {}'.format(temp_media_media))
print('temp_minima_media: {}'.format(temp_minima_media))
print('umidade_media_media: {}'.format(umidade_media_media))
print('umidade_minima_media: {}'.format(umidade_minima_media))
print('vento_maxima_media: {}'.format(vento_maxima_media))
print('vento_media_media: {}'.format(vento_media_media))

precipitacao_media: 5.3
pressao_atmosf_media: 906.6
temp_orvalho_media: 11.9
temp_maxima_media: 21.9
temp_media_media: 15.5
temp_minima_media: 11.0
umidade_media_media: 81.3
umidade_minima_media: 53
vento_maxima_media: 10.5
vento_media_media: 3.3

In [61]:
# Substituição dos dados nulos e verificação se realmente não restou nenhum dado nulo

df.update(df['PRECIPITACAO TOTAL, DIARIO (AUT)(mm)'].fillna(precipitacao_media))
df.update(df['PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB)'].fillna(pressao_atmosf_media))
df.update(df['TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C)'].fillna(temp_orvalho_media))
df.update(df['TEMPERATURA MAXIMA, DIARIA (AUT)(°C)'].fillna(temp_maxima_media))
df.update(df['TEMPERATURA MEDIA, DIARIA (AUT)(°C)'].fillna(temp_media_media))
df.update(df['TEMPERATURA MINIMA, DIARIA (AUT)(°C)'].fillna(temp_minima_media))
df.update(df['UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)'].fillna(umidade_media_media))
df.update(df['UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)'].fillna(umidade_minima_media))
df.update(df['VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)'].fillna(vento_maxima_media))
df.update(df['VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)'].fillna(vento_media_media))

df.isnull().sum()

Data Medicao                                              0
PRECIPITACAO TOTAL, DIARIO (AUT)(mm)                      0
PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB)                0
TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C)    0
TEMPERATURA MAXIMA, DIARIA (AUT)(°C)                      0
TEMPERATURA MEDIA, DIARIA (AUT)(°C)                       0
TEMPERATURA MINIMA, DIARIA (AUT)(°C)                      0
UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)             0
UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)            0
VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)                    0
VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)                 0
dtype: int64

# Transformação dos dados meteorológicos horários

In [62]:
# Importação do arquivo CSV dos dados meteorológicos horários

file = 'C:/Users/*********/Documents/Projetos Jupyter Notebook/TCC - Ciência de Dados/Dados Meteorológicos Históricos - Vacaria/Por Hora/dados_A880_H_2009-05-01_2021-04-30.csv'
df_hora = pd.read_csv(file, skiprows = 10, sep = ';')
df_hora.head() # Exibição dos dados

,Data Medicao,Hora Medicao,"PRECIPITACAO TOTAL, HORARIO(mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA(mB)","PRESSAO ATMOSFERICA REDUZIDA NIVEL DO MAR, AUT(mB)",PRESSAO ATMOSFERICA MAX.NA HORA ANT. (AUT)(mB),PRESSAO ATMOSFERICA MIN. NA HORA ANT. (AUT)(mB),RADIACAO GLOBAL(Kj/m²),TEMPERATURA DA CPU DA ESTACAO(°C),"TEMPERATURA DO AR - BULBO SECO, HORARIA(°C)",...,TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT)(°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT)(°C),TENSAO DA BATERIA DA ESTACAO(V),UMIDADE REL. MAX. NA HORA ANT. (AUT)(%),UMIDADE REL. MIN. NA HORA ANT. (AUT)(%),"UMIDADE RELATIVA DO AR, HORARIA(%)","VENTO, DIRECAO HORARIA (gr)(° (gr))","VENTO, RAJADA MAXIMA(m/s)","VENTO, VELOCIDADE HORARIA(m/s)",Unnamed: 22
0,2009-05-01,0,0,"910,8",NaN,"910,9","910,5","-3,54",14.0,"12,8",...,"11,3","10,8","12,3",93.0,90.0,91.0,111.0,"8,3","3,9",NaN
1,2009-05-01,100,0,911,NaN,911,"910,8","-2,51",14.0,12,...,"11,3","10,7","12,3",92.0,90.0,92.0,106.0,8,"4,4",NaN
2,2009-05-01,200,0,"910,9",NaN,911,"910,9","-1,896",13.0,"12,3",...,"10,8","10,6","12,2",92.0,90.0,90.0,114.0,9,"3,6",NaN
3,2009-05-01,300,0,"910,8",NaN,"910,9","910,8","-1,582",13.0,"12,1",...,"10,7","10,6","12,2",90.0,89.0,90.0,107.0,"7,4","3,4",NaN
4,2009-05-01,400,0,"910,3",NaN,"910,8","910,3","-3,022",13.0,"11,2",...,"10,6","9,9","12,2",91.0,90.0,91.0,103.0,"7,4","3,7",NaN

In [63]:
df_hora = df_hora.iloc[:, [0, 9]] # Seleciona as colunas 'Data Medicao' e 'TEMPERATURA DO AR - BULBO SECO, HORARIA(°C)'
df_hora.head() # Exibição dos dados

  Data Medicao TEMPERATURA DO AR - BULBO SECO, HORARIA(°C)
0   2009-05-01                                        12,8
1   2009-05-01                                          12
2   2009-05-01                                        12,3
3   2009-05-01                                        12,1
4   2009-05-01                                        11,2

In [64]:
df_hora.info() # Visualização do tipo de dados de cada coluna

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105192 entries, 0 to 105191
Data columns (total 2 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   Data Medicao                                 105192 non-null  object
 1   TEMPERATURA DO AR - BULBO SECO, HORARIA(°C)  101444 non-null  object
dtypes: object(2)
memory usage: 821.9+ KB

In [65]:
# Substituição de vírgulas por pontos nos dados das colunas com tipo não-numérico

df_hora['TEMPERATURA DO AR - BULBO SECO, HORARIA(°C)'] = df_hora['TEMPERATURA DO AR - BULBO SECO, HORARIA(°C)'].str.replace(',', '.')

df_hora.head() # Exibição dos dados

  Data Medicao TEMPERATURA DO AR - BULBO SECO, HORARIA(°C)
0   2009-05-01                                        12.8
1   2009-05-01                                          12
2   2009-05-01                                        12.3
3   2009-05-01                                        12.1
4   2009-05-01                                        11.2

In [66]:
# Alteração do tipo de dados das colunas

df_hora['Data Medicao'] = pd.to_datetime(df_hora['Data Medicao'], dayfirst = True)
df_hora['TEMPERATURA DO AR - BULBO SECO, HORARIA(°C)'] = pd.to_numeric(df_hora['TEMPERATURA DO AR - BULBO SECO, HORARIA(°C)'])

df_hora.info() # Visualização do tipo de dados de cada coluna

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105192 entries, 0 to 105191
Data columns (total 2 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   Data Medicao                                 105192 non-null  datetime64[ns]
 1   TEMPERATURA DO AR - BULBO SECO, HORARIA(°C)  101444 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.6 MB

In [67]:
df_hora.isnull().sum() # identificação de dados faltantes

Data Medicao                                      0
TEMPERATURA DO AR - BULBO SECO, HORARIA(°C)    3748
dtype: int64

In [68]:
# Geração e visualização da média dos valores da coluna que possui dados faltantes para utilizar na substituição dos 
# valores nulos

temp_bulbo_media = df_hora['TEMPERATURA DO AR - BULBO SECO, HORARIA(°C)'].mean()

print('temp_bulbo_media: {}'.format(temp_bulbo_media))

temp_bulbo_media: 15.596851464847601

In [69]:
# Realização e visualização do ajuste das casas decimais dos dados

temp_bulbo_media = round(temp_bulbo_media, 1)

print('temp_bulbo_media: {}'.format(temp_bulbo_media))

temp_bulbo_media: 15.6

In [70]:
# Substituição dos dados nulos e verificação se realmente não restou nenhum dado nulo

df_hora.update(df_hora['TEMPERATURA DO AR - BULBO SECO, HORARIA(°C)'].fillna(temp_bulbo_media))

df_hora.isnull().sum()

Data Medicao                                   0
TEMPERATURA DO AR - BULBO SECO, HORARIA(°C)    0
dtype: int64

In [71]:
# Seleção dos registros com temperatura abaixo de 7.2°C (horas de frio) no ciclo de dormência da planta (Maio a agosto)

df_hora_frio = df_hora.loc[df_hora['TEMPERATURA DO AR - BULBO SECO, HORARIA(°C)'] < 7.2]

df_hora_frio = df_hora_frio.loc[df_hora_frio['Data Medicao'].dt.month.between(5, 8)]

df_hora_frio # Exibição dos dados

      Data Medicao  TEMPERATURA DO AR - BULBO SECO, HORARIA(°C)
153     2009-05-07                                          5.5
154     2009-05-07                                          5.1
173     2009-05-08                                          7.0
177     2009-05-08                                          7.1
339     2009-05-15                                          7.0
...            ...                                          ...
99178   2020-08-23                                          1.4
99179   2020-08-23                                          3.7
99224   2020-08-25                                          6.7
99225   2020-08-25                                          6.4
99226   2020-08-25                                          6.5

[6292 rows x 2 columns]

In [72]:
# Contagem/agrupamento das horas de frio diárias e alteração do nome da coluna

df_hora_frio = df_hora_frio.groupby(['Data Medicao']).count()

df_hora_frio.rename(columns = {'TEMPERATURA DO AR - BULBO SECO, HORARIA(°C)': 'QTD. DE HORAS DE FRIO (< 7.2°C), DIARIA (MAIO - AGOSTO)'}, inplace = True)

df_hora_frio.head()

              QTD. DE HORAS DE FRIO (< 7.2°C), DIARIA (MAIO - AGOSTO)
Data Medicao
2009-05-07                                                    2
2009-05-08                                                    2
2009-05-15                                                   12
2009-05-16                                                   14
2009-05-17                                                   10

In [73]:
# União do dataset com o número diário de horas de frio com o dataset dos dados meteorológicos diários

df = pd.merge(df, df_hora_frio, how = 'outer', on = 'Data Medicao').sort_values(by = 'Data Medicao')

In [74]:
# Substituição dos dados nulos pelo número 0 na coluna das horas de frio

df.update(df['QTD. DE HORAS DE FRIO (< 7.2°C), DIARIA (MAIO - AGOSTO)'].fillna(0))

In [75]:
# Alteração do tipo de dados da coluna das horas de frio para número inteiro e exibição da alteração

df['QTD. DE HORAS DE FRIO (< 7.2°C), DIARIA (MAIO - AGOSTO)'] = pd.to_numeric(df['QTD. DE HORAS DE FRIO (< 7.2°C), DIARIA (MAIO - AGOSTO)'], downcast = 'integer')
df.head()

,Data Medicao,"PRECIPITACAO TOTAL, DIARIO (AUT)(mm)",PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB),TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C),"TEMPERATURA MAXIMA, DIARIA (AUT)(°C)","TEMPERATURA MEDIA, DIARIA (AUT)(°C)","TEMPERATURA MINIMA, DIARIA (AUT)(°C)","UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)","UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)","VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)","VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)","QTD. DE HORAS DE FRIO (< 7.2°C), DIARIA (MAIO - AGOSTO)"
0,2009-05-01,0.0,910.0,9.7,20.9,13.8,8.2,78.8,46.0,9.0,3.8,0
1,2009-05-02,0.0,909.4,9.4,21.8,14.4,8.6,75.5,39.0,9.5,3.3,0
2,2009-05-03,0.2,907.8,8.1,21.9,14.1,8.3,72.0,29.0,9.2,3.6,0
3,2009-05-04,0.0,905.7,11.3,22.0,15.3,8.7,79.1,52.0,10.2,4.2,0
4,2009-05-05,0.0,905.2,10.6,22.8,15.7,10.1,74.7,39.0,9.6,3.6,0

In [76]:
# Seleção dos registros de temperatura do ciclo vegetativo da planta (Setembro a abril)

df_hora_tempcv = df_hora.loc[df_hora['Data Medicao'].dt.month.isin([1, 2, 3, 4, 9, 10, 11, 12])]

df_hora_tempcv # Exibição dos dados

       Data Medicao  TEMPERATURA DO AR - BULBO SECO, HORARIA(°C)
2952     2009-09-01                                         20.3
2953     2009-09-01                                         19.3
2954     2009-09-01                                         13.9
2955     2009-09-01                                         14.8
2956     2009-09-01                                         14.5
...             ...                                          ...
105187   2021-04-30                                         15.6
105188   2021-04-30                                         15.6
105189   2021-04-30                                         15.6
105190   2021-04-30                                         15.6
105191   2021-04-30                                         15.6

[69768 rows x 2 columns]

In [77]:
# Contagem/agrupamento das horas de temperatura ideal para o ciclo vegetativo (18°C a 23 C°) e alteração do nome da coluna

df_hora_idealcv = df_hora_tempcv[df_hora_tempcv['TEMPERATURA DO AR - BULBO SECO, HORARIA(°C)'].between(18, 23)]

df_hora_idealcv = df_hora_idealcv.groupby(['Data Medicao']).count()

df_hora_idealcv.rename(columns = {'TEMPERATURA DO AR - BULBO SECO, HORARIA(°C)': 'QTD. DE HORAS TEMP. IDEAL (18°C - 23 C°), DIARIA (SETEMBRO - ABRIL)'}, inplace = True)

df_hora_idealcv.head()

              QTD. DE HORAS TEMP. IDEAL (18°C - 23 C°), DIARIA (SETEMBRO - ABRIL)
Data Medicao
2009-09-01                                                    7
2009-09-04                                                    7
2009-09-05                                                    5
2009-09-06                                                    6
2009-09-07                                                    2

In [78]:
# União do dataset com o número diário de horas de temperatura ideal para o ciclo vegetativo com o dataset dos dados meteorológicos diários

df = pd.merge(df, df_hora_idealcv, how = 'outer', on = 'Data Medicao').sort_values(by = 'Data Medicao')

In [79]:
# Substituição dos dados nulos pelo número 0 na coluna das horas de temperatura ideal para o ciclo vegetativo

df.update(df['QTD. DE HORAS TEMP. IDEAL (18°C - 23 C°), DIARIA (SETEMBRO - ABRIL)'].fillna(0))

In [80]:
# Alteração do tipo de dados da coluna das horas de temperatura ideal para o ciclo vegetativo para número inteiro e exibição da alteração

df['QTD. DE HORAS TEMP. IDEAL (18°C - 23 C°), DIARIA (SETEMBRO - ABRIL)'] = pd.to_numeric(df['QTD. DE HORAS TEMP. IDEAL (18°C - 23 C°), DIARIA (SETEMBRO - ABRIL)'], downcast = 'integer')
df.head()

,Data Medicao,"PRECIPITACAO TOTAL, DIARIO (AUT)(mm)",PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB),TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C),"TEMPERATURA MAXIMA, DIARIA (AUT)(°C)","TEMPERATURA MEDIA, DIARIA (AUT)(°C)","TEMPERATURA MINIMA, DIARIA (AUT)(°C)","UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)","UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)","VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)","VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)","QTD. DE HORAS DE FRIO (< 7.2°C), DIARIA (MAIO - AGOSTO)","QTD. DE HORAS TEMP. IDEAL (18°C - 23 C°), DIARIA (SETEMBRO - ABRIL)"
0,2009-05-01,0.0,910.0,9.7,20.9,13.8,8.2,78.8,46.0,9.0,3.8,0,0
1,2009-05-02,0.0,909.4,9.4,21.8,14.4,8.6,75.5,39.0,9.5,3.3,0,0
2,2009-05-03,0.2,907.8,8.1,21.9,14.1,8.3,72.0,29.0,9.2,3.6,0,0
3,2009-05-04,0.0,905.7,11.3,22.0,15.3,8.7,79.1,52.0,10.2,4.2,0,0
4,2009-05-05,0.0,905.2,10.6,22.8,15.7,10.1,74.7,39.0,9.6,3.6,0,0

In [81]:
# Contagem/agrupamento das horas de temperatura prejudicial para o ciclo vegetativo (> 27 C°) e alteração do nome da coluna

df_hora_prejucv = df_hora_tempcv[df_hora_tempcv['TEMPERATURA DO AR - BULBO SECO, HORARIA(°C)'] > 27]

df_hora_prejucv = df_hora_prejucv.groupby(['Data Medicao']).count()

df_hora_prejucv.rename(columns = {'TEMPERATURA DO AR - BULBO SECO, HORARIA(°C)': 'QTD. DE HORAS TEMP. PREJUDICIAL (> 27 C°), DIARIA (SETEMBRO - ABRIL)'}, inplace = True)

df_hora_prejucv.head()

              QTD. DE HORAS TEMP. PREJUDICIAL (> 27 C°), DIARIA (SETEMBRO - ABRIL)
Data Medicao
2009-10-29                                                    1
2009-10-30                                                    4
2009-10-31                                                    7
2009-11-01                                                    7
2009-11-02                                                    8

In [82]:
# União do dataset com o número diário de horas de temperatura prejudicial para o ciclo vegetativo com o dataset dos dados meteorológicos diários

df = pd.merge(df, df_hora_prejucv, how = 'outer', on = 'Data Medicao').sort_values(by = 'Data Medicao')

In [83]:
# Substituição dos dados nulos pelo número 0 na coluna das horas de temperatura prejudicial para o ciclo vegetativo

df.update(df['QTD. DE HORAS TEMP. PREJUDICIAL (> 27 C°), DIARIA (SETEMBRO - ABRIL)'].fillna(0))

In [84]:
# Alteração do tipo de dados da coluna das horas de temperatura prejudicial para o ciclo vegetativo para número inteiro e exibição da alteração

df['QTD. DE HORAS TEMP. PREJUDICIAL (> 27 C°), DIARIA (SETEMBRO - ABRIL)'] = pd.to_numeric(df['QTD. DE HORAS TEMP. PREJUDICIAL (> 27 C°), DIARIA (SETEMBRO - ABRIL)'], downcast = 'integer')
df.head()

,Data Medicao,"PRECIPITACAO TOTAL, DIARIO (AUT)(mm)",PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB),TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C),"TEMPERATURA MAXIMA, DIARIA (AUT)(°C)","TEMPERATURA MEDIA, DIARIA (AUT)(°C)","TEMPERATURA MINIMA, DIARIA (AUT)(°C)","UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)","UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)","VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)","VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)","QTD. DE HORAS DE FRIO (< 7.2°C), DIARIA (MAIO - AGOSTO)","QTD. DE HORAS TEMP. IDEAL (18°C - 23 C°), DIARIA (SETEMBRO - ABRIL)","QTD. DE HORAS TEMP. PREJUDICIAL (> 27 C°), DIARIA (SETEMBRO - ABRIL)"
0,2009-05-01,0.0,910.0,9.7,20.9,13.8,8.2,78.8,46.0,9.0,3.8,0,0,0
1,2009-05-02,0.0,909.4,9.4,21.8,14.4,8.6,75.5,39.0,9.5,3.3,0,0,0
2,2009-05-03,0.2,907.8,8.1,21.9,14.1,8.3,72.0,29.0,9.2,3.6,0,0,0
3,2009-05-04,0.0,905.7,11.3,22.0,15.3,8.7,79.1,52.0,10.2,4.2,0,0,0
4,2009-05-05,0.0,905.2,10.6,22.8,15.7,10.1,74.7,39.0,9.6,3.6,0,0,0

In [85]:
# Seleção dos registros de precipitação do ciclo vegetativo da planta (Setembro a abril)

df_prec_veg = df.loc[df['Data Medicao'].dt.month.isin([1, 2, 3, 4, 9, 10, 11, 12])]

df_prec_veg # Exibição dos dados

,Data Medicao,"PRECIPITACAO TOTAL, DIARIO (AUT)(mm)",PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB),TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C),"TEMPERATURA MAXIMA, DIARIA (AUT)(°C)","TEMPERATURA MEDIA, DIARIA (AUT)(°C)","TEMPERATURA MINIMA, DIARIA (AUT)(°C)","UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)","UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)","VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)","VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)","QTD. DE HORAS DE FRIO (< 7.2°C), DIARIA (MAIO - AGOSTO)","QTD. DE HORAS TEMP. IDEAL (18°C - 23 C°), DIARIA (SETEMBRO - ABRIL)","QTD. DE HORAS TEMP. PREJUDICIAL (> 27 C°), DIARIA (SETEMBRO - ABRIL)"
123,2009-09-01,0.0,905.4,10.2,27.5,18.6,10.4,62.2,28.0,11.6,3.3,0,7,0
124,2009-09-02,20.8,905.9,13.3,19.1,14.1,12.6,94.8,72.0,12.8,3.8,0,0,0
125,2009-09-03,45.2,904.5,14.4,18.1,15.4,13.8,94.1,82.0,16.0,4.2,0,0,0
126,2009-09-04,9.8,904.6,13.8,21.6,16.2,14.1,86.5,63.0,9.5,2.6,0,7,0
127,2009-09-05,0.2,906.6,9.5,20.0,14.6,10.2,74.7,33.0,7.3,2.0,0,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4378,2021-04-26,5.3,906.6,11.9,21.9,15.5,11.0,81.3,53.0,10.5,3.3,0,0,0
4379,2021-04-27,5.3,906.6,11.9,21.9,15.5,11.0,81.3,53.0,10.5,3.3,0,0,0
4380,2021-04-28,5.3,906.6,11.9,21.9,15.5,11.0,81.3,53.0,10.5,3.3,0,0,0
4381,2021-04-29,5.3,906.6,11.9,21.9,15.5,11.0,81.3,53.0,10.5,3.3,0,0,0
4382,2021-04-30,5.3,906.6,11.9,21.9,15.5,11.0,81.3,53.0,10.5,3.3,0,0,0

In [87]:
df_prec_veg = df_prec_veg.iloc[:, [0, 1]] # Seleciona as colunas 'Data Medicao' e 'PRECIPITACAO TOTAL, DIARIO (AUT)(mm)'
df_prec_veg.head() # Exibição dos dados

    Data Medicao  PRECIPITACAO TOTAL, DIARIO (AUT)(mm)
123   2009-09-01                                   0.0
124   2009-09-02                                  20.8
125   2009-09-03                                  45.2
126   2009-09-04                                   9.8
127   2009-09-05                                   0.2

In [88]:
df_prec_veg.rename(columns = {'PRECIPITACAO TOTAL, DIARIO (AUT)(mm)': 'PRECIPITACAO TOTAL, DIARIO (AUT)(mm) (SETEMBRO - ABRIL)'}, inplace = True)

df_prec_veg.head()

    Data Medicao  PRECIPITACAO TOTAL, DIARIO (AUT)(mm) (SETEMBRO - ABRIL)
123   2009-09-01                                                0.0
124   2009-09-02                                               20.8
125   2009-09-03                                               45.2
126   2009-09-04                                                9.8
127   2009-09-05                                                0.2

In [89]:
# União do dataset com a precipitação do ciclo vegetativo da planta com o dataset dos dados meteorológicos diários

df = pd.merge(df, df_prec_veg, how = 'outer', on = 'Data Medicao').sort_values(by = 'Data Medicao')

In [90]:
# Substituição dos dados nulos pelo número 0 na coluna da precipitação do ciclo vegetativo da planta

df.update(df['PRECIPITACAO TOTAL, DIARIO (AUT)(mm) (SETEMBRO - ABRIL)'].fillna(0))

In [91]:
# Alteração do tipo de dados da coluna da precipitação do ciclo vegetativo da planta para número inteiro e exibição da alteração

df['PRECIPITACAO TOTAL, DIARIO (AUT)(mm) (SETEMBRO - ABRIL)'] = pd.to_numeric(df['PRECIPITACAO TOTAL, DIARIO (AUT)(mm) (SETEMBRO - ABRIL)'], downcast = 'integer')
df.head()

,Data Medicao,"PRECIPITACAO TOTAL, DIARIO (AUT)(mm)",PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB),TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C),"TEMPERATURA MAXIMA, DIARIA (AUT)(°C)","TEMPERATURA MEDIA, DIARIA (AUT)(°C)","TEMPERATURA MINIMA, DIARIA (AUT)(°C)","UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)","UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)","VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)","VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)","QTD. DE HORAS DE FRIO (< 7.2°C), DIARIA (MAIO - AGOSTO)","QTD. DE HORAS TEMP. IDEAL (18°C - 23 C°), DIARIA (SETEMBRO - ABRIL)","QTD. DE HORAS TEMP. PREJUDICIAL (> 27 C°), DIARIA (SETEMBRO - ABRIL)","PRECIPITACAO TOTAL, DIARIO (AUT)(mm) (SETEMBRO - ABRIL)"
0,2009-05-01,0.0,910.0,9.7,20.9,13.8,8.2,78.8,46.0,9.0,3.8,0,0,0,0.0
1,2009-05-02,0.0,909.4,9.4,21.8,14.4,8.6,75.5,39.0,9.5,3.3,0,0,0,0.0
2,2009-05-03,0.2,907.8,8.1,21.9,14.1,8.3,72.0,29.0,9.2,3.6,0,0,0,0.0
3,2009-05-04,0.0,905.7,11.3,22.0,15.3,8.7,79.1,52.0,10.2,4.2,0,0,0,0.0
4,2009-05-05,0.0,905.2,10.6,22.8,15.7,10.1,74.7,39.0,9.6,3.6,0,0,0,0.0

In [92]:
# Geração de uma nova coluna que indica a que safra o registro pertence (É considerado como ano agrícola o período entre 
# 01 de maio até 30 de abril do próximo ano)

for index, row in df.iterrows():
    if df.loc[index, 'Data Medicao'].month in (1, 2, 3, 4):
        df.loc[index, 'SAFRA'] = str(df.loc[index, 'Data Medicao'].year)
    else:
        df.loc[index, 'SAFRA'] = str(df.loc[index, 'Data Medicao'].year + 1)
    
df.head() # Exibição dos dados

,Data Medicao,"PRECIPITACAO TOTAL, DIARIO (AUT)(mm)",PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB),TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C),"TEMPERATURA MAXIMA, DIARIA (AUT)(°C)","TEMPERATURA MEDIA, DIARIA (AUT)(°C)","TEMPERATURA MINIMA, DIARIA (AUT)(°C)","UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)","UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)","VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)","VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)","QTD. DE HORAS DE FRIO (< 7.2°C), DIARIA (MAIO - AGOSTO)","QTD. DE HORAS TEMP. IDEAL (18°C - 23 C°), DIARIA (SETEMBRO - ABRIL)","QTD. DE HORAS TEMP. PREJUDICIAL (> 27 C°), DIARIA (SETEMBRO - ABRIL)","PRECIPITACAO TOTAL, DIARIO (AUT)(mm) (SETEMBRO - ABRIL)",SAFRA
0,2009-05-01,0.0,910.0,9.7,20.9,13.8,8.2,78.8,46.0,9.0,3.8,0,0,0,0.0,2010
1,2009-05-02,0.0,909.4,9.4,21.8,14.4,8.6,75.5,39.0,9.5,3.3,0,0,0,0.0,2010
2,2009-05-03,0.2,907.8,8.1,21.9,14.1,8.3,72.0,29.0,9.2,3.6,0,0,0,0.0,2010
3,2009-05-04,0.0,905.7,11.3,22.0,15.3,8.7,79.1,52.0,10.2,4.2,0,0,0,0.0,2010
4,2009-05-05,0.0,905.2,10.6,22.8,15.7,10.1,74.7,39.0,9.6,3.6,0,0,0,0.0,2010

In [93]:
# Visualização do tipo de dados de cada coluna

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4383 entries, 0 to 4382
Data columns (total 16 columns):
 #   Column                                                                Non-Null Count  Dtype
---  ------                                                                --------------  -----
 0   Data Medicao                                                          4383 non-null   datetime64[ns]
 1   PRECIPITACAO TOTAL, DIARIO (AUT)(mm)                                  4383 non-null   float64
 2   PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB)                            4383 non-null   float64
 3   TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C)                4383 non-null   float64
 4   TEMPERATURA MAXIMA, DIARIA (AUT)(°C)                                  4383 non-null   float64
 5   TEMPERATURA MEDIA, DIARIA (AUT)(°C)                                   4383 non-null   float64
 6   TEMPERATURA MINIMA, DIARIA (AUT)(°C)                                  4383 non-null   float64
 7   UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)                         4383 non-null   float64
 8   UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)                        4383 non-null   float64
 9   VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)                                4383 non-null   float64
 10  VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)                             4383 non-null   float64
 11  QTD. DE HORAS DE FRIO (< 7.2°C), DIARIA (MAIO - AGOSTO)               4383 non-null   int8
 12  QTD. DE HORAS TEMP. IDEAL (18°C - 23 C°), DIARIA (SETEMBRO - ABRIL)   4383 non-null   int8
 13  QTD. DE HORAS TEMP. PREJUDICIAL (> 27 C°), DIARIA (SETEMBRO - ABRIL)  4383 non-null   int8
 14  PRECIPITACAO TOTAL, DIARIO (AUT)(mm) (SETEMBRO - ABRIL)               4383 non-null   float64
 15  SAFRA                                                                 4383 non-null   object
dtypes: datetime64[ns](1), float64(11), int8(3), object(1)
memory usage: 572.1+ KB

In [94]:
# Exportação dos dados transformados para um arquivo .CSV

df.to_csv('C:/Users/********/Documents/Projetos Jupyter Notebook/TCC - Ciência de Dados/Dados_Meteorológicos.csv', sep = ';')